WebGroupProject/Connected Services/WCFFFFF2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54806/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MathService_IIS" />
  <xs:element name="getSubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MathService_IIS" minOccurs="0" name="getSubCategoryResult" nillable="true" type="q1:ArrayOfJsonTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>