WebGroupProject/Connected Services/WCFFFFF2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MathService_IIS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MathService_IIS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJsonTest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonTest" nillable="true" type="tns:JsonTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonTest" nillable="true" type="tns:ArrayOfJsonTest" />
  <xs:complexType name="JsonTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubcategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="SubcategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonTest" nillable="true" type="tns:JsonTest" />
</xs:schema>